<app-header></app-header>
<app-expansive-painel [labelTitle]="'Titulo da grade 1'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 2'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 3'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 4'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 5'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 6'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 7'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 8'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 1'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 2'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 3'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 4'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 5'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 6'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 7'"></app-expansive-painel>
<app-expansive-painel [labelTitle]="'Titulo da grade 8'"></app-expansive-painel>

<app-button-after-list [label]="'+ Adicionar novo grupo'"></app-button-after-list>

<app-flutter-button></app-flutter-button>
